@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-onyx: var(--onyx);
  --color-silver: var(--silver);
  --color-dim-grey: var(--dim-grey);
  --color-alabaster: var(--alabaster);
  --color-flag-red: var(--flag-red);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-unifraktur: var(--font-unifraktur-maguntia);
  --font-voltaire: var(--font-voltaire);
  --font-syne: var(--font-syne-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  /* Color Palette */
  --onyx: #100f10;
  --silver: #bcbbbc;
  --dim-grey: #656465;
  --alabaster: #e1e1e2;
  --flag-red: #cd1b25;

  /* Theme Mappings */
  --background: #e1e1e2;
  --foreground: #100f10;
  --primary: #cd1b25;
  --primary-foreground: #e1e1e2;
  --muted: #bcbbbc;
  --muted-foreground: #656465;
  --accent: #bcbbbc;
  --accent-foreground: #100f10;
  --destructive: #cd1b25;
  --border: #bcbbbc;
  --input: #bcbbbc;
  --ring: #cd1b25;
  --card: #e1e1e2;
  --card-foreground: #100f10;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
